* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.5s ease;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: blue;
  padding: 5px;
}
img{
  width: 30px;
  background-color: blue;
}
.logo{
  margin-bottom: 20px;
  padding: 15px;
  background-color: blue;
}
.logo h2{
  color: white;
  background-color: blue;
}
ul li {
  background-color: blue;
}
ul li a:hover{
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}
ul li span {
  background-color: blue;
}
ul{
  background-color: blue;
  padding: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul li a{
  background-color: blue;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid transparent;
  padding: 7px;
}
ul li a i{
  background-color: blue;
  font-weight: 700;
  font-size: 20px;
}
/* Add this CSS to your existing styles */
.sub-menu {
  display: none; /* Hide the submenu by default */
  transition: all 0.5s ease; /* Add a transition effect for the display property */
}

/* Show the submenu when isSubMenuOpen is true */
.sub-menu.open {
  display: block;
  transition: all 0.5s ease;
}


.profile .profile-content img{
    width: 40px;
    background-color: blue;

}.profile .profile-content{
  background-color: blue;
}
.profile {
  background-color: blue;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
}

.info-profile p{
background-color: blue;
}
.profile  li {
  background-color: blue;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

i{
  background-color: blue;
  cursor: pointer;
}

.main{
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  background-color: rgb(146, 146, 146);
  height: 100vh;
}
.main h1 {
  background-color: rgb(146, 146, 146);
  padding: 15px;
}

/************* Class Components ******************/

.Content-Class{
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 100%;  
  padding: 15px;
}
.Content-Class h2{
  padding: 15px;
}

form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCC8AA;
  cursor: pointer;
  background-color: #CCC8AA;
  color: #525252;
  width: 50%;

}
form{
  display: flex;
  flex-direction: column;  
  width: 20%;
  margin: auto;
  margin-top: 200px;
}
form input{
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.class-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.class-table th, .class-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.class-table th {
  background-color: #f2f2f2;
}

.class-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
