* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
}
/************* Navbar Components ******************/

/************* Class Components ******************/
.Home{
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;  
  padding: 15px;
  background-color: rgb(209, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.Home h1 {
  color:#7c7c7c;
}
.Content-Class{
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  height: 100vh;  
  padding: 15px;
  background-color: rgb(209, 209, 209);
}
.Content-Class h2{
  padding: 15px;
}
form button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCC8AA;
  cursor: pointer;
  background-color: #CCC8AA;
  color: #525252;
  width: 30%;
}
form{
  display: flex;
  flex-direction: column;  
  width: 40%;
  margin: auto;
  margin-top: 200px;
}
form input{
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  width: 100%;
}

/************* ListofClasses Components ******************/

.class-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  box-shadow: 0 2px 2px rgba(206, 206, 206, 0.1);
}
#content h2{
  margin-bottom: 20px;
}
#content label{
  color: #6b6b6b;
  font-size: 12px;
}
.class-table th, .class-table td {
  border: 1px solid #052c3f;
  padding: 8px;
  text-align: left;
  padding: 10px;
  text-align: center;
}
.class-table tbody tr td:first-child p{
  color: #6b6b6b;
}
.class-table tbody tr td:first-child p:hover{
  color: #1d1d1d;
  cursor: pointer;
}
.class-table tbody tr td a{
  color: rgb(168, 168, 168);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.4s;
}
.class-table tbody tr td a:hover{
  color: #1473f9;
  transition: all 0.4s;
}

.class-table th {
  background-color: #052c3f;
  color: white;
}

.class-table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

#actions{
  display: flex;
  gap: 10px;
  justify-content:center;
}

#actions a{
  padding:5px;
  width: 15%;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  cursor: pointer;
  color: wheat;
}
#actions button{
  width: 100%;
  color: #0c425e;
  border:none;
  cursor: pointer;
  padding:0;
}

#actions a:first-child{
  background-color: #CCC8AA;
}
#actions a:not(:first-child){
  background-color:#c7c7c7 ;
}
/************* form-info Components ******************/
.form-info{
margin-top: 20px;
}
.form-info input{
  margin-top: 5px;
  border: 1px solid #0c425e;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  }
/************* ListofQuiz Components ******************/
/* QuizComponent.css */

.quizzes-container {
  width: 100%;
  margin: 50px auto;
  
}

.quizzes-list {
  list-style: none;
  padding: 50px;  
}

.quiz-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 2px rgba(165, 165, 165, 0.295);
}
.quiz-item p {
  margin-bottom: 10px;
}
.quiz-item p:last-child{
  margin-bottom: 0;
}

.quiz-title {
  font-size: 18px;
  font-weight: bold;
  padding:5px;
}
.quiz-item.expanded {
  height: auto;
}

.quiz-details {
  margin-top: 10px;
  padding: 40px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

.result-page{
  margin-top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;  
}
.info-score{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.info-score .title{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@keyframes moveDiv {
  0% {
    transform: translateX();
  }
  50% {
    transform: translateX(8px); /* Adjust the distance you want the div to move */
  }
  100% {
    transform: translateX(0);
  }
}

.info-score .title div {
  background-color: #052c3f;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7rem;
  font-weight: 800;
  box-shadow: 1px 5px 20px rgba(14, 70, 173, 0.568);
  animation: moveDiv 3s infinite; /* Adjust the duration and other properties as needed */
}
.details-score{
  display: flex;
  align-items: center;
  gap: 150px;
  margin-top: 30px;
}
.details-score div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details-score div:not(:first-child){
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 5px;
}
.btn-back{
  width:420px;
}
.btn-back button{
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #162f50;
  color: white;
  width: 100%;
}

#deletebtn{
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(156, 12,22, 0.712);
  color: rgb(156, 12,22, 0.712);
  border-radius: 10px;
  cursor: pointer;
}

#deletebtn:hover{
  border: 1px solid rgb(202, 5, 18);
  color: rgb(204, 6, 19);
}

#addbtn button{
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(26, 109, 9, 0.712);
  color: rgba(26, 109, 9, 0.712);
  border-radius: 10px;
  cursor: pointer;
}
#addbtn button:hover{
  border:1px solid rgba(26, 109, 9, 0.918);
  color: rgba(26, 109, 9, 0.925);
}

#deletebtnn{
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(156, 12,22, 0.712);
  color: rgb(156, 12,22, 0.712);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
#deletebtnn:hover{
  border: 1px solid rgb(202, 5, 18);
  color: rgb(204, 6, 19);
}

#update{
  text-decoration: none;
  margin-right: 15px;
}
#liststudent{
  text-decoration: none;
  
}

#download{
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}
#actionsquiz{
  border-top: 1px solid rgba(230, 230, 230, 0.753);
  padding-top: 15px;
}