*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.ant-layout-sider.ant-layout-sider-dark{
    position: fixed;
    width: 200px;
    left: 0;
    top: 0;
    transition: all 0.3s ease, width 0.3s ease;
}
#root{
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    transition: all 0.3s ease, width 0.3s ease;
    min-height: 100vh;
    padding: 15px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.css-dev-only-do-not-override-zl9ks2{
    
}
#userrole {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    width: 100%;
}
#userrole .text{
    margin-left: 30px;
    font-size: 13px;
    font-weight: 700;
}
#userrole p:first-child{
    margin-bottom: -45px;
}
#userrole .photo{
    margin-left: -90px;
    font-size: 25px;
}
.content{
    height: 100%;
    position: relative;
    top: 70px;
}
.content .role{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.role img {
    width: 60px;
}
.menulist{
    height: 100vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.Quiz-Page{
    height: 100%;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
}
.Quiz-Form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.Quiz-Form input, button {
    padding: 10px;
    text-align:center;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid;
}
.Quiz-Form .nxtbtn {
    display: flex;
    align-items: center;
    justify-content: end;
}
.Quiz-Form .question-content{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.Quiz-Form .option-content label{
    display: flex;
    flex-direction:row;
    gap: 12px;
}
.Quiz-Form .option-content input{
    margin-bottom: 12px;
}

.btn-log {
    width: 100%;
    display: flex;
}
.btn-log button{
    width: 5%;
    margin-left: 25px;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #2a548b80;
    padding: 5px;
    color: white;
}
.btn-log button:hover{
    background-color: #2a548bd7;
    transition: all 0.3s ease;
    cursor: pointer;
}
.option-content{
    display: flex;
}